{% extends 'base.html' %}
{% load filters %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-5 mt-1">
            <h5>Are you sure you want to delete "{{ item }}"?</h5>
            <div class="form-row">
                <button class="btn btn-outline-primary btn-sm mr-1"
                        onclick='window.location.href ="{% url 'index' %}"'>Cancel
                </button>
                <form method="POST" action="">
                    {% csrf_token %}
                    <input class="btn btn-outline-dark btn-sm" type="submit" name="confirm" value="Confirm">
                </form>
            </div>
        </div>
    </div>
{% endblock %}