{% extends 'base.html' %}
{% load filters %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-5 mt-1">
            <form method="post" action="{% url 'create_task' %}">
                {% csrf_token %}
                {% with title=form.title|add_class:'form-control form-control-sm' %}
                    {{ title }}
                {% endwith %}
                <input class="btn btn-outline-primary btn-sm btn-block mt-1" type="submit" name="add" value="Add">
            </form>
            {% if tasks %}
                <div class="card mt-1">
                    <ul class="list-group list-group-flush">
                        {% for task in tasks %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <form id="form-checkbox" class="form-inline" method="post"
                                              action="{% url 'update_task' task_id=task.id %}">
                                            {% csrf_token %}
                                            <input id="task{{ task.id }}" class="form-check-input" type="checkbox"
                                                   name="done"
                                                   value="done-update-only"
                                                   onchange="this.form.submit()"
                                                   {% if task.done %}checked{% endif %} />
                                            <input id="hidden-checkbox-task{{ task.id }}" type='hidden'
                                                   value="done-update-only" name="done">
                                            <label class="form-check-label" for="task{{ task.id }}">
                                                {% if task.done == True %}
                                                    <strike> {{ task.title }}</strike>
                                                {% else %}
                                                    <span>{{ task.title }}</span>
                                                {% endif %}
                                            </label>
                                        </form>
                                    </div>
                                    <a class="btn btn-outline-primary btn-sm mr-1"
                                       href="{% url 'update_task' task_id=task.id %}">
                                        Edit</a>
                                    <a class="btn btn-outline-dark btn-sm"
                                       href="{% url 'delete_task' task_id=task.id %}">
                                        Delete</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

