{% extends 'base.html' %}
{% load filters %}


{% block content %}
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    {{ form.username|add_attributes:"class: form-control, placeholder: Username" }}
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    {{ form.email|add_attributes:"class: form-control, placeholder: Email" }}
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    {{ form.password1|add_attributes:"class: form-control, placeholder: Enter password" }}
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    {{ form.password2|add_attributes:"class: form-control, placeholder: Repeat password" }}
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Create Account</button>
                </div> <!-- form-group// -->

                {{ form.errors }}

                <div class="mt-4">
                    <div class="d-flex justify-content-center">
                        Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
                    </div>
                </div> <!-- form-group// -->
            </form>
        </article>
    </div>
{% endblock %}